<div class="container mb-5">
  <h1 class="mb-3">CHÍNH SÁCH ĐỔI TRẢ, BẢO HÀNH</h1>
  <h3 class="mb-2">A. Trường hợp đổi sản phẩm:</h3>
  <p>BẠN được đổi size giày, dép nếu như sản phẩm được thử không vừa chân.</p>
  <p>Wear giao nhầm mã, nhầm size, nhầm màu.</p>
  <p>Sản phẩm có lỗi khi không được báo trước.</p>
  <p><b>Quy trình đổi size :</b></p>

  <p>Trong vòng 7 ngày kể từ ngày mua (ngày BẠN nhận được hàng từ dịch vụ vận chuyển), BẠN được phép đổi size hoặc đổi mẫu khác. Trường hợp nếu chúng tôi hết size bạn muốn đổi, bạn đổi qua sản phẩm khác và chỉ được đổi 1 lần duy nhất , vui lòng nhắn tin cho Shoe master qua Fanpage: https://www.facebook.com/shoemaster/  hoặc gọi hotline: <b>+84 28 6274 1144</b> để xử lý đổi hàng.</p>
  <p>BẠN lưu ý đính kèm sản phẩm kèm theo như: shopping bag, vớ tặng(nếu có), phiếu bảo hành(nếu có), hóa đơn bán lẻ với sản phẩm cần đổi.</p>
  <p>Trường hợp ở xa, BẠN gửi lại sản phẩm theo địa chỉ mà chúng tôi cung cấp.
  <p>Trường hợp khách hàng đến cửa hàng đổi trực tiếp, mang theo đầy đủ sản phẩm, phụ kiện và giấy tờ liên quan đến địa chỉ chúng tôi cung cấp.</p>
  <p>Sau khi đã nhận, kiểm tra và chấp nhận sản phẩm mà BẠN muốn đổi, chúng tôi sẽ liên hệ để xác nhận đổi hàng và gửi hàng cho BẠN.</p>
  <p>BẠN đồng ý trả các chi phí liên quan đến việc đổi hàng trong những trường hợp sau.
  <p>Trường hợp nếu chúng tôi giao nhầm mã, nhầm size, nhầm màu. Chúng tôi sẽ đổi lại sản phẩm chính xác mà BẠN đã đặt. Shoe master sẽ chịu toàn bộ chi phí trong trường hợp này.</p>

  <p><b>B. Trường hợp trả hàng (chỉ áp dụng với hình thức mua hàng tại web: https://www.shoemaster.com.vn/ , mua hàng tại cửa hàng chúng tôi không hỗ trợ hình thức trả hàng)</b></p>

  <p>Sản phẩm được phát hiện lỗi khi không được báo trước.</p>
  <p>Sản phẩm không đúng như thông tin trên web, đơn đặt hàng.</p>
  <p><b>1. Quy trình trả hàng :</b></p>

  <p>Trong vòng 5 ngày kể từ ngày BẠN nhận được hàng từ dịch vụ vận chuyển, nếu BẠN phát hiện sản phẩm bị lỗi hoặc không đúng như BẠN đặt, trước khi gởi về, BẠN vui lòng chụp hình nhắn tin cho shop trực tiếp trên web: https://www.facebook.com/shoemaster/  hoặc thông qua email: shoe@master.com cho chúng tôi giám định trước.</p>
  <p>Chúng tôi sẽ kiểm nghiệm tình trạng hàng hóa và xác nhận cho khách hàng sản phẩm có được trả hay không.</p>
  <p>BẠN gửi lại sản phẩm theo địa chỉ mà chúng tôi cung cấp.</p>
  <p>Wear sẽ chịu toàn bộ chi phí trong trường hợp này.</p>
  <p>Sau khi đã nhận, kiểm tra và chấp nhận sản phẩm mà BẠN muốn trả, chúng tôi sẽ liên hệ để xác nhận và thực hiện quá trình hoàn tiền cho BẠN qua tài khoản ngân hàng trong vòng 7-10 ngày.</p>
  <p>Nếu hộp giày bị hư, móp BẠN sẽ bồi thường cho chúng tôi 10% giá trị sản phẩm</p>
  <p><b>2.Trường hợp không được đổi, trả sản phẩm:</b></p>

  <p>Sản phẩm không được xác nhận mua từ Shoe master</p>
  <p>Sản phẩm đã được sử dụng hoặc dính bẩn.</p>
  <p>Sản phẩm được đổi trong không còn bao bì nguyên nhãn thương hiệu,không có đầy đủ các sản phẩm đính kèm như: hóa đơn bán lẻ, vớ, shopping bag, phiếu bảo hành...</p>
  <p>Sản phẩm gửi về bị hư hỏng, hư hộp,</p>
  <p>Sản phẩm được bán với giá sale từ 20% trở lên.</p>
  <p><b>C. Trường hợp bảo hành</b></p>

  <p>Tất cả sản phẩm Wear phân phối đều là hàng chính hãng, được bảo hành theo quy định & điều khoản đi kèm trên phiếu bảo hành</p>
  <p>Thời hạn bảo hành: 1 tháng kể từ thời điểm quý khách mua hàng hoặc căn cứ theo thời điểm đơn vị vận chuyển giao hàng đến tay quý khách</p>
  <p>Quý khách vui lòng vệ sinh sản phẩm sạch sẽ trước khi mang sang, trong trường hợp quý khách không vệ sinh sản phẩm trước, Shoe Master sẽ sử dụng dịch vụ vệ sinh giày của bên thứ 3 & phí vệ sinh là 50.000đ/ lần</p>
  <p>Sản phẩm được bán với giá sale trên 10%, hoặc hết hạn bảo hành ghi trên Phiếu bảo hành sẽ không được bảo hành hoặc bảo hành mất phí, mức phí bảo hành sẽ được thông báo cho quý khách tùy theo thời điểm</p>
  <p><b>YÊU CẦU CHUNG:</b></p>

  <p>BẠN chịu trách nhiệm cho tất cả sản phẩm trong quá trình gửi trả lại cho đến khi sản phẩm đến được kho hàng của công ty. Vui lòng gói sản phẩm kĩ để tránh hư hỏng hoặc mất mát.</p>
  <p>BẠN vui lòng giữ lại hóa đơn mua hàng, thẻ bảo hành, phiếu xuất hàng và biên lai gởi hàng của dịch vụ vận chuyển sau khi mua. Chúng tôi không chấp nhận việc đổi hàng nếu BẠN không xuất trình những chứng từ trên.</p>
  <p>Chúng tôi sẽ tiến hành quá trình hoàn trả cho BẠN trong vòng 7 ngày làm việc kể từ ngày nhận được sản phẩm của BẠN gửi lại cho Shoe master. Xin vui lòng giữ  lại “biên lại vận chuyển” để tiện việc theo dõi sau này.</p>
  <p>Nếu BẠN có bất kỳ thắc mắc hay yêu cầu khác, vui lòng nhắn tin cho Shoe Master trực tiếp trên web:  https://www.facebook.com/shoemaster/ hoặc gọi hotline: <b>+84 28 6274 1144</b></p>
</div>
<router-outlet></router-outlet>
