<div class="container mb-5">
  <h1 class="mb-3">CHÍNH SÁCH BẢO MẬT</h1>
  <p>Riêng tư của khách hàng vô cùng quan trọng với Shoe Master, vì thế chúng tôi chỉ sử dụng thông tin cá nhân của Bạn vào những trường hợp nêu ra sau đây.</p>
  <p>Bảo vệ dữ liệu là vấn đề của sự tin tưởng và bảo mật danh tính của Bạn vô cùng quan trọng với chúng tôi. Vì thế, chúng tôi chỉ sẽ sử dụng tên và một số thông tin khác của Bạn theo cách được đề ra trong Chính sách Bảo mật này. Chúng tôi chỉ sẽ thu thập những thông tin cần thiết và có liên quan đến giao dịch giữa chúng tôi và Bạn.</p>
  <p>Chúng tôi chỉ giữ thông tin của Bạn trong thời gian luật pháp yêu cầu hoặc cho mục đích mà thông tin đó được thu thập.</p>
  <p>Bạn có thể ghé thăm trang web mà không cần phải cung cấp bất kỳ thông tin cá nhân nào. Khi viếng thăm trang web, Bạn sẽ luôn ở trong tình trạng vô danh trừ khi Bạn có tài khoản trên trang web và đăng nhập vào bằng tên và mật khẩu của mình.</p>
  <p>Nếu Bạn có ý kiến hay đóng góp gì, xin vui lòng gửi email tới <b>shoe@master.com</b> Chúng tôi luôn sẳn sàng lắng nghe nhận xét của Bạn.</p>
  <p>Quy định Bảo mật của chúng tôi hoàn toàn tuân theo Đạo luật Bảo Mật 1988 và là phương châm tốt nhất của nền công nghiệp.</p>
  <p><b>Thu thập thông tin cá nhân</b></p>
  <p>Shoe Master không bán, chia sẻ hay trao đổi thông tin cá nhân của khách hàng thu thập trên trang web cho một bên thứ ba nào khác.</p>

  <p>Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty.</p>

  <p><b>Khi Bạn đăng ký tài khoản, thông tin cá nhân mà chúng tôi thu thập bao gồm:</b></p>

  　　<p>- Tên</p>
  　　<p>- Địa chỉ giao hàng</p>
  　　<p>- Địa chỉ Email</p>
  　　<p>- Số điện thoại cố định</p>
  　　<p>- Số điện thoại di động</p>

  <p><b> Những thông tin trên sẽ được sử dụng cho một hoặc tất cả các mục đích sau đây:</b></p>

  　　<p>- Giao hàng Bạn đã mua tại Shoe Master.</p>
  　　<p>- Thông báo về việc giao hàng và hỗ trợ khách hàng.</p>
  　　<p>- Cung cấp thông tin liên quan đến sản phẩm.</p>
  　　<p>- Xử lý đơn đặt hàng và cung cấp dịch vụ và thông tin qua trang web của chúng tôi theo yêu cầu của Bạn.</p>
  　　<p>- Ngoài ra, chúng tôi sẽ sử dụng thông tin Bạn cung cấp để hỗ trợ quản lý tài khoản khách hàng; xác nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của Bạn; kiểm tra dữ liệu tải từ trang web của chúng tôi; cải thiện giao diện và/hoặc nội dung của các trang mục trên trang web và tùy chỉnh để dễ dàng hơn khi sử dụng; nhận diện khách đến thăm trang web; nghiên cứu về nhân khẩu học của người sử dụng; gửi đến Bạn thông tin mà chúng tôi nghĩ sẽ có ích hoặc do Bạn yêu cầu, bao gồm thông tin về sản phẩm và dịch vụ, với điều kiện Bạn đồng ý không phản đối việc được liên lạc cho các mục đích trên.</p>

  <p>Chúng tôi có thể chia sẻ tên và địa chỉ của Bạn cho một bên thứ ba để có thể giao hàng cho Bạn (ví dụ như dịch vụ chuyển phát nhanh hoặc nhà cung cấp của chúng tôi).</p>

  <p>Khi Bạn đăng ký làm thành viên trên trang web  <b> https://www.shoe.master.com.vn</b> chúng tôi cũng sẽ sử dụng thông tin cá nhân của Bạn để gửi các thông tin khuyến mãi/tiếp thị. Bạn có thể hủy nhận các thông tin đó bất kỳ lúc nào bằng cách sử dụng chức năng hủy đăng ký trong các thông báo quảng cáo.</p>

  <p>Các khoản thanh toán mà Bạn thực hiện qua trang web  <b> https://www.shoe.master.com.vn</b> sẽ được nhận bởi CÔNG TY TNHH  1 THÀNH VIÊN SHOE MASTER. Bạn phải cung cấp cho chúng tôi hoặc trang web những thông tin chính xác và phải luôn cập nhật thông tin và báo cho chúng tôi biết nếu có thay đổi.</p>

  <p>Chi tiết đơn hàng của Bạn sẽ được chúng tôi lưu trữ nhưng vì lý do bảo mật, Bạn không thể yêu cầu thông tin đó từ chúng tôi. Tuy nhiên, Bạn có thể kiểm tra thông tin đó bằng cách đăng nhập vào tài khoản riêng của mình trên trang web. Tại đó, Bạn có thể theo dõi đầy đủ chi tiết của các đơn hàng đã hoàn tất, những đơn hàng mở và những đơn hàng sắp được giao cũng như quản lý thông tin về địa chỉ, thông tin về ngân hàng và những bản tin mà Bạn đã đăng ký nhận. Bạn cần bảo đảm là thông tin được truy cập một cách bí mật và không làm lộ cho một bên thứ ba không có quyền. Chúng tôi sẽ không chịu trách nhiệm đối với việc sử dụng sai mật khẩu trừ khi đó là lỗi của chúng tôi.</p>

  <p><b>Cập nhật thông tin cá nhân</b></p>
  <p>BẠN có thể cập nhật thông tin cá nhân của mình bất kỳ lúc nào bằng cách đăng nhập vào trang web <b> https://www.shoe.master.com.vn</b></p>

  <p><b>Bảo mật thông tin cá nhân</b></p>
  <p>Shoe Master đảm bảo rằng mọi thông tin thu thập được sẽ được lưu giữ an toàn. Chúng tôi bảo vệ thông tin cá nhân của Bạn bằng cách:</p>
  　　<p>- Giới hạn truy cập thông tin cá nhân.</p>
  　　<p>- Sử dụng sản phẩm công nghệ để ngăn chặn truy cập máy tính trái phép.</p>
  　　<p>- Xóa thông tin cá nhân của Bạn khi nó không còn cần thiết cho mục đích lưu trữ hồ sơ của chúng tôi</p>

  <p><b>Tiết lộ thông tin cá nhân</b></p>
  <p>Chúng tôi sẽ không chia sẻ thông tin của Bạn cho bất kỳ một công ty nào khác ngoại trừ những công ty và các bên thứ ba có liên quan trực tiếp đến việc giao hàng mà Bạn đã mua tại Shoe Master. Trong một vài trường hợp đặc biệt, Shoe Master  có thể bị yêu cầu phải tiết lộ thông tin cá nhân, ví dụ như khi có căn cứ cho việc tiết lộ thông tin là cần thiết để ngăn chặn các mối đe dọa về tính mạng và sức khỏe, hay cho mục đích thực thi pháp luật.</p>

  <p>Nếu Bạn tin rằng bảo mật của Bạn bị Shoe Master  xâm phạm, xin vui lòng nhắn tin cho shop trực tiếp trên web: <b> https://www.shoe.master.com.vn</b> hoặc thông qua email: <b>shoe@master.com</b> hoặc gọi hotline: <b>+84 28 6274 1144</b> để được giải quyết vấn đề.</p>

  <p><b>Thay đổi của Chính sách Bảo mật</b></p>
  <p>Shoe Master có quyền thay đổi và chỉnh sửa Quy định Bảo mật vào bất kỳ lúc nào. Bất cứ thay đổi nào về chính sách này đều được đăng trên trang web của chúng tôi.</p>

  <p>Nếu Bạn không hài lòng với việc chúng tôi xử lý thắc mắc hay khiếu nại của Bạn, xin vui lòng liên hệ với chúng tôi tại <b>shoe@master.com</b></p>
</div>
<router-outlet></router-outlet>
