<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Footer -->
<footer class="pt-5 pb-4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">LIÊN HỆ</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Address:</h5>
                <p><a routerLink="about">44 Đường số 30, Khu định cư Tân Quy Đông, Quận 7, Hồ Chí Minh</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Email:</h5>
<!--                <h6 class="font-weight-bold mb-0">Have any questions?</h6>-->
                <p><a href="#">shoe@master.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-phone-volume"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Phone number:</h5>
                <p><a href="#">+84 28 6274 1144</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">CHÍNH SÁCH</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="security">Chính sách bảo mật</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-truck" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="transport">Chính sách vận chuyển</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="guarantee">Đổi trả và bảo hành</a></p>
              </div>
            </div>
          </li>
          <li>
          <div class="row">
            <div class="col-1"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
            <div class="col-10">
              <p class="mb-0"><a routerLink="regulation">Quy định sử dụng</a></p>
            </div>
          </div>
        </li>
          <li>
          </li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">HỖ TRỢ</h3>
        <ul class="support">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a [routerLink]="'order/user/filter'">Kiểm tra đơn hàng</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="/cart-list">Giỏ hàng</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="login">Đăng nhập</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-0"><a routerLink="register">Đăng ký</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h4 class="mb-4 font-weight-bold">CONVERSE ALL START</h4>
        <video width="320" height="240" controls>
          <source src="../../../../assets/images/10%20Things%20You%20Didn't%20Know%20About%20Converse%20All%20Star.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; 2020 Copyright belong to <b>Shoe Master</b>
        </div>
      </div>
    </div>
  </div>
</section>
