<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-md-4" *ngFor="let product of products | async">
      <div class="card" style="width: 15rem;">
<!--        <div>-->
<!--          <img class="card-img-top img-thumbnail" src="{{product.image}}" alt="Card image cap">-->
<!--        </div>-->
        <div *ngFor="let picture of product.pictures, index as i"><img *ngIf="i!=0" src="{{picture.src}}" width="200px"></div>
        <div class="card-body" align="center">
          <h5 class="card-title">{{product.name}}</h5>
          <div align="left">
            <p class="card-text">{{product.description}}</p>
            <p>Quantity : <a href="#" class="card-link">{{product.quantity}}</a></p>
            <p>Price : <a href="#" class="card-link">{{product.price | currency : 'VND' : true : '1.0-0'}}</a></p>
          </div>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
