<div class="container">
  <div class="row mb-4">
    <div class="col-6 offset-3">
      <h2 align="center">
        Create Size
      </h2>
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name"> Size name</label>
            <input type="number" class="form-control" id="name" required [(ngModel)]="size.name" name="name">
          </div>
          <button type="submit" class="btn btn-info">Create new size</button>
        </form>
      </div>
    </div>
  </div>
</div>
