.center{
  margin: 40px auto;
  width: 700px;
}
.center input{
  width: 600px;
}
.size img{
  cursor: pointer;
  max-width: 100%;
  height: auto;
}
.size{
  width: 15em;
  height: 10em;
  overflow: hidden;
}
.height{
  min-height: 750px;
}
