<div class="container">
  <div class="row mb-5">
    <p class="mb-2">Hotline hỗ trợ chăm sóc khách hàng: <span><b class="text-info">1800.8668</b></span></p>
    <img src="../../../../assets/images/about/banner.jpg" alt="">
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <div>
        <h1 class="bg-warning">Master Chu Văn An</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>48 Đường Số 6, Cư Xá Chu Văn An, P.26, Bình Thạnh, HCM</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">02866.886.888</span></p>
      </div>
    </div>
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store1.jpg" alt="">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store2.jpg" alt="">
    </div>
    <div class="col-md-4">
      <div class="ml-4">
        <h1 class="bg-warning">Master Hưng Đạo</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>392 Đường Trần Hưng Đạo Phường 11 Quận 5 Hồ Chí Minh</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">028.350.88888</span></p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <div>
        <h1 class="bg-warning">Master Nguyễn</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>869 Nguyễn Kiệm, P.3, Gò Vấp, HCM</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">028388.79999</span></p>
      </div>
    </div>
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store3.jpg" alt="">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store4.jpg" alt="">
    </div>
    <div class="col-md-4">
      <div class="ml-4">
        <h1 class="bg-warning">Master Ích Khiêm</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>164 Ông Ích Khiêm, Phường 5, Quận 11, HCMM</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">028.3539.8888</span></p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <div>
        <h1 class="bg-warning">Master Văn Sỹ</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>453/63KA Lê Văn Sỹ, P.12 Quận 3, HCM</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">028.3526.1368</span></p>
      </div>
    </div>
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store5.jpg" alt="">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">
      <img src="../../../../assets/images/about/store6.jpg" alt="">
    </div>
    <div class="col-md-4">
      <div class="ml-4">
        <h1 class="bg-warning">Master Âu Cơ</h1>
        <p>Cửa hàng bán sản phẩm giảm giá</p>
        <p><b>Địa chỉ:</b></p>
        <p>434 Âu Cơ, P.10, Tân Bình, HCM</p>
        <p><b>Số điện thoại</b>: <span class="text-danger">02866.886.888</span></p>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <hr>
  <h1 class="mb-3">Trụ sở công ty</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="../../../../assets/images/company.jpg" alt="">
      <div class="mt-2">
        <b>Địa chỉ:</b>
        <p>Lô VII-1, P. TP.HCM, 44 Đường số 30, Khu định cư Tân Quy Đông, Quận 7, Hồ Chí Minh</p>
        <p><b>Email: </b>shoe@master.com</p>
        <p><b>Số điện thoại: </b>+84 28 6274 1144</p>
      </div>
    </div>
    <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.952085363974!2d106.7049781145544!3d10.738176392347462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f9bc09309fd%3A0x640e3a960f51005!2sC%C3%B4ng%20Ty%20TNHH%20Shoe%20Master!5e0!3m2!1svi!2s!4v1581181032478!5m2!1svi!2s" width="800" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
