<!--<div *ngIf="info.token;  else loggedOut">-->
<!--  <a [routerLink]="['/create/category']">create a new category</a>-->
<!--  <div class="panel panel-primary">-->
<!--    <div class="panel-heading">-->
<!--      <h2>Category-list</h2>-->
<!--    </div>-->
<!--    <div class="panel-body">-->
<!--      <table class="table table-striped" border="1px">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>STT</th>-->
<!--          <th>Category name</th>-->
<!--          <th>Edit category</th>-->
<!--          <th>Delete category</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let category of categories | async ; index as i">-->
<!--          <td>{{i+1}}</td>-->
<!--          <td>{{category.categoryName}}</td>-->
<!--          <td><button [routerLink]="['/category/'+category.categoryId+'/edit']" class="btn btn-success">Edit</button></td>-->
<!--          <td><button (click)="deleteCategory(category.categoryId)" class="btn btn-danger">Delete</button>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  <h1>Please login to continue!</h1>-->
<!--  <a [routerLink]="['/login']">Login</a>-->
<!--</ng-template>-->

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="text-center mb-4">Category list</h2>
    </div>
    <div class="panel-body">
      <table class="table table-bordered text-center mb-4">
        <thead>
        <tr>
          <th>STT</th>
          <th>Category name</th>
          <th>Edit category</th>
          <th>Delete category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories | async ; index as i">
          <td>{{i+1}}</td>
          <td>{{category.categoryName}}</td>
          <td><button [routerLink]="['/category/'+category.categoryId+'/edit']" class="btn btn-info">Edit</button></td>
          <td><button (click)="deleteCategory(category.categoryId)" class="btn btn-danger">Delete</button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
