<div id="menu_area" class="menu-area bg-d mb-5">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-light navbar-expand-lg mainmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li><a routerLink="home" class="nav-link" routerLinkActive="active">Home<span class="sr-only">(current)</span></a></li>
            <li><a routerLink="about" class="nav-link" routerLinkActive="active">About<span class="sr-only">(current)</span></a></li>
            <li><a routerLink="product" class="nav-link" routerLinkActive="active">Product<span class="sr-only">(current)</span></a></li>
            <li> <a class="dropdown-item text-center" [routerLink]="'order/user/filter'">Check order history</a></li>
            <!------------->
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplier filter</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngFor="let supplier of suppliers"><a class="dropdown-item" [routerLink]="['/product-supplier', supplier.supplierId]">{{supplier.supplierName}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="ADMIN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category filter</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li  *ngFor="let category of categories"><a class="dropdown-item" [routerLink]="['/product-category', category.categoryId]">{{category.categoryName}}</a></li>
              </ul>
            </li>
            <!-------------->

          </ul>
          <!------------->
<!--          <div class=" ml-auto" *ngIf="this.info.token; else logIn">-->
<!--            <div class="btn-group" style="padding-right: 30px">-->
<!--              <button type="button" class="btn btn-outline-secondary text-light border-1" [routerLink]="'profile'">{{info.name}}</button>-->
<!--              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split border-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                <span class="sr-only">Toggle</span>-->
<!--              </button>-->
<!--              <div class="dropdown-menu menu-top" style="background: #34495e">-->
<!--                <a class="dropdown-item text-center" [routerLink]="'profile'">My Profile</a>-->
<!--                <a class="dropdown-item text-center" [routerLink]="'register'">Register</a>-->
<!--                <div>-->
<!--                  <a class="dropdown-item text-center"  *ngIf="!isAdminRole" [routerLink]="'order/user/filter'">Check order history</a>-->
<!--                  <a class="dropdown-item text-center" *ngIf="isAdminRole" [routerLink]="'order/admin/filter'">Order manager</a>-->
<!--                </div>-->
<!--                <a class="dropdown-item text-center last-child" (click)="logout()" >Logout</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <ng-template #logIn >-->
<!--            <div class="btn-group  ml-auto" >-->
<!--              <button class="btn btn-outline-secondary btn-lg border-1 text-light" type="button"  [routerLink]="'/login'" data-toggle="dropdown" >-->
<!--                Login-->
<!--              </button>-->
<!--            </div>-->

<!--          </ng-template>-->
<!--            <div *ngIf="!isAdminRole">-->
<!--              <app-cart></app-cart>-->
<!--            </div>-->
        </div>
      </nav>
    </div>
  </div>
</div>
